.main {
	min-height: 100vh;
	background-image: url(../../assets/images/background.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.content {
  min-height: calc(100vh - 80px);
	padding-top: 40px;
	width: 95%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 8px;
}

.top {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
	.top {
		flex-direction: column-reverse;
		gap: 16px;
	}

	.content {
		padding-top: 10px;
		gap: 8px;
	}
}

@media (max-width: 425px) {
	.content {
		font-size: 12px;
	}

	.top {
		gap: 0;
	}
}