.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  width: 400px;
  height: 400px;
  background-color: #a39ac5;
  padding: 10px;
  overflow: hidden;
}

.top {
  display: flex;
  justify-content: space-between;
}

.close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 10px;
}

.list {
  height: 92%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 5px;
  }
}

.item {
  width: 95%;
  min-height: 40px;
  border: 1px solid black;
  padding: 5px;
  overflow: hidden;
  
  &:hover {
    color: rgba(255,255,255,0.8);
    border-color: rgba(255,255,255,0.8);
    cursor: pointer;
  }
}

@media (max-width: 450px) {
  .modal {
    width: 300px;
  }
}