.mainContainer {
	position: relative;
}

.carouselContainer {
	display: flex;
	position: relative;
	overflow-x: hidden;
	width: calc(100% - 70px);
	margin: 0 auto;
}

.carousel {
	display: flex;
	gap: 16px;
	position: relative;
	width: fit-content;
	white-space: nowrap;
	transition: transform 0.5s ease;
}

.arrow {
	width: 35px;
	height: 35px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;

  svg path {
    fill: rgba(255, 255, 255, 1);
    transition: fill 0.3s ease-in-out;
  }

	&:hover {
		svg path {
			fill: rgba(255, 255, 255, 0.5);
      transition: fill 0.3s ease-in-out;
		}
	}
}

.arrowLeft {
	left: -10px;
}

.arrowRight {
	right: -10px;
	transform: rotate(180deg) translateY(50%);
}

.hidden {
	display: none;
}

@media (max-width: 425px) {
	.arrowLeft {
		left: 0;
	}

	.arrowRight {
		right: 0;
		transform: rotate(180deg) translateY(50%);
	}
}
