.block {
  width: 400px;
  padding: 10px 20px;
}

.mainBlock {
  border: 3px solid rgba(0,0,0,0.4);
  border-radius: 8px;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(3px);
  color: rgba(255,255,255,0.8);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.blur {
  filter: blur(5px);
  transition: filter 2s ease;
}

.blockInCarousel {
  width: 330px;
  padding: 20px 10px 40px;
}

h2 {
  text-align: center;
}

.weatherPick {
  width: 100px;
  height: 100px;
  margin: 15px 0;
}

.height {
  height: 16px;
}

.height48 {
  height: 48px;
}

.metrics {
  display: flex;
  align-items: center;
  align-self: baseline;
  > div > p:not(:last-child) {
    margin-bottom: 4px;
  }
}

.metricsInCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.darken {
  color: rgba(255,255,255,0.4);
}

.link {
  font-size: 12px;
  font-style: italic;
  cursor: pointer;
  color: rgba(255,255,255,0.8);
  transition: color 0.3s ease-in-out;

  &:hover {
    color: lightblue;
  }

  &:active {
    transform: scale(1.01); 
  }
}

@media (max-width: 768px) {
	.block {
		width: calc(100% - 45px);
    align-self: center;
	}
}

@media (max-width: 425px) {
  .blockInCarousel {
    width: 260px;
  }
}