.block {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 6px;
  // min-height: 140px;
}

.subBlock {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 6px;
}

.title {
  text-align: end;
}

.input {
  background: none;
  border: none;
  border-bottom: 3px solid black;
  outline: none;
  font-size: 17px;
  font-weight: 700;
  text-align: end;
  width: 155px;
}

button {
  font-size: 18px;
  padding: 5px 10px;
  background: none;
  outline: none;
  border: 3px solid rgba(0,0,0,0.5);
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
  }

  &:active {
    outline: 2px solid rgba(0,0,0,0.5);
  }
}

.height16 {
  height: 16px;
}

.height24 {
  min-height: 24px;
}

@media (max-width: 768px) {
	.block {
    flex-direction: row;
    justify-content: space-between;
    height: auto;

    & :first-child  {
      align-items: baseline;
    }
	}

  .subBlock {
    align-self: baseline;
  }

  .title {
    text-align: start;
  }
}